* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  color: #404040;
  background-color: #045866;
  font-family: sans-serif;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  color: #2b2c2c;
  background: #ecfbfc;
  text-align: left;
  padding: 15px;
  margin: 15px;
  //display: flex;
  //justify-content: center;
  //width: 100%;
  //background-color: #045866;
}

.container {
  margin: 20px;
  //display: flex;
  //justify-content: center;
  //flex-wrap: wrap;
  //width: 50%;
  //color: #2b2c2c;
  //background: #ecfbfc;
  //text-align: left;
  //padding: 15px;
  //margin: 15px;
}

.title {
  font-size: 24px;
  font-weight: 400;
  color: #2b2c2c;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  > * {
    width: 100%;
  }
}

.fieldTitle {
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  border: 1px solid transparent;
  width: 100%;
}

.errorContainer{
  height: 24px;
}

#repaymentType {
  input {
    margin-right: 5px;
  }
}

.submit {
  width: 50%;
  background: #8d0377;
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 6px 20px;
  text-decoration: none;
  transition: .5s;
  &:hover,:active {
    color: #fff;
    background: #c63806;
  }
  &:disabled {
    opacity: 50%;
    background: #8d0377;
    color: #fff;
  }
}